fastapi
uvicorn[standard]
pydantic
pydantic-settings

langchain
langchain-community
langchain-ollama
langchain-chroma
langchain-huggingface

langgraph
langsmith

chromadb
sentence-transformers
pymupdf

python-dotenv